{% extends 'base.html.twig' %}
{% block title %}Qui sommes nous ? - Travel With Your Bike{% endblock %}



{% block content %}

    <!-- START THE FEATURETTES -->


    <div class="row featurette mt-5">
        <div class="col-md-7">
            <h2 class="featurette-heading mb-4">Qui sommes-nous ? <br><span class="text-muted">Guy et Roxane</span></h2>
            <p class="paragraph-block">Nous sommes une petite société de transport de personnes et motos qui vient d’ouvrir ses portes, basée
                dans le département du Lot, à Cahors, avec à son bord deux personnes :<br><br>
                Guy, chauffeur routier à la retraite et passionné par la moto depuis toujours. C’est de cette
                frénésie qu’est né ce projet : allier un service de confiance tout en étant entouré de modèles uniques
                ainsi que leurs propriétaires, eux aussi avides de la même passion et de continuer à parcourir les routes.
                <br><br>
                Rox, fille de Guy et gestionnaire administrative en poste, une précieuse alliée qui permet de
                vous assurer une disponibilité dans les trajets, la gestion financière de l’entreprise, la surveillance de la
                combinaison des modèles pour leur poids ainsi que le service relationnel.</p>
        </div>
        <div class="col-md-5 my-auto mx-auto">
            <img src="{{ asset('assets/img/guyetrox.jpg') }}" data-aos="zoom-out-up" class="img-fluid " alt="Guy Patron de Travel with your Bike">
        </div>
    </div>

    <!-- /END THE FEATURETTES -->
{% endblock %}