{% extends 'base.html.twig' %}

{% block title %}Inscription - Travel With Your Bike{% endblock %}

{% block content %}
    <h1>Inscription</h1>

    {% if notification %}
        <div class="alert alert-success">
            {{ notification }}
        </div>
        <hr>
    {% endif %}

    {{ form(form) }}

{% endblock %}
