{% extends 'base.html.twig' %}

{% block title %}Inscription - Travel With Your Bike{% endblock %}

{% block content %}
    <div class="w-75 mx-auto">
        <h1>Inscription</h1>

        {% if notification %}
            <div class="alert alert-success">
                {{ notification }}
            </div>
            <hr>


        {% endif %}


        {{ form(form) }}

    </div>


{% endblock %}

{% block javascripts %}
<script>
    function Afficher()
    {
        var input = document.getElementById("motdepasse");
        if (input.type === "password")
        {
            input.type = "text";
        }
        else
        {
            input.type = "password";
        }
    }
</script>
{% endblock %}
